
<div class="container">
   <h1>Edit Hike</h1>
   <%= form_for @hike  do |f| %>
   <div class="field">
      <%= f.label :location %>
      <%= f.text_field :location %>
   </div>
   <div class="field">
      <%= f.label :image_URL %>
      <%= f.text_field :image_uri %>
   </div>
   <div class="field">
      <%= f.label :description %>
      <%= f.text_field :description %>
   </div>
   <div class="actions"><%= f.submit "Submit" %></div>
   <% end %>
</div>

